<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <div class="main-div">
        <div class="web-logo">
            <img src="./images/logo.svg" class="logo animate-up"></img>
            <div class="sub-title animate-up">
                <p><strong>Rio pardo</strong></p>
                <p>Santa Catarina</p>
            </div>
        </div>

        <div class="middle">
            <div class="middle-text animate-up ">
                <p>Leve felicidade para o mundo</p>
            </div>
            <img src="./images/bg.svg" class="back-image animate-up"></img>

        </div>

        <div class="web-bottom">
            <div class="sub-middle-text animate-up ">Visite orfanatos e mude o dia de muitas crianças</div>
            <div>
                <a href="orphanages">
                    <div class="next animate-up ">
                        <img src="./images/arrow.svg"></img>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>




<!--

    
FREE MAPS API:
https://leafletjs.com/examples/quick-start/ 

Ajudtar responsividade da orphanages page pois o pop up esta sumindo em mobile



-->