<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orfanato</title>
    <link rel="stylesheet" href="./styles/orphanages.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
</head>

<body>
    <div class="main">
        <aside class="aside small-side">
            <a href="index.html">
                <img src="./images/logo-icon.png">
            </a>
            <div>
                <p class="middle-text">Escolha um orfanato no mapa</p>
            </div>
            <div class="middle-small-text">
                <p>Muitas crianças estão esperando sua visita :)</p>
            </div>

            <div class="sub-title">
                <p><strong>Rio do sul</strong></p>
                <p>Santa Catarina</p>
            </div>
        </aside>
        <div id="map"
            class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
            tabindex="0"></div>

        <a href="create-orphanage.html">
            <div class="plus">
                <img src="./images/plus.svg">
            </div>
        </a>

    </div>

    <script src="./scripts/orphanages-script.js"></script>

</body>

</html>